.t10 {
	margin-top: 10px; 
}
.t20 {
	margin-top: 20px; 
}
.todo-competed {
	background: rgba(146, 165, 166, .3);
}
footer {
	margin-top: 20px;
	color: white; 
}
.list-group-item {
	color: black;
}
body {
	background: rgba(17.3, 100, 0);
	font-family: 'Oswald', 'Futura', sans-serif;
}
#wrapper{
	margin-top: 10% !important;
	margin-left: 30%;
	margin-right: 40%;  
}
#content {
	background: beige;
	padding: 40px;
}

#done{
	color: green;
}
#to-do{
	color: yellow;
}